<h2>All Vitamins:</h2>
<% @vitamins.each do |vitamin| %>
  <div>
    Name: <%= vitamin.name %><br />
    Benefit: <%= vitamin.benefits %> <br />
    Reference ID: <%= vitamin.id %> <br />
    <br />
  </div>
<% end %>
