<h1>Add a New Vitamin</h1>

<form action="/vitamins" method="POST">
  <label> Vitamin Name </label>
  <input type="text" name="name"> </br>

  <label> Vitamin Benefit </label>
  <input type="text" name="benefits"> </br>

  <label>What pack does this vitamin belong in?</label><br>
  <% VitaminPack.all.each do |pack| %>
  <input type="radio" name="vitamin_pack_id" id="<%= pack.id %>" value="<%= pack.name %>"><%= pack.name %></input><br>
<% end %><br>

  <input type="submit" value="Create">
</form>
