<p>Name: <%= @vitamin.name %></p>
<p>Benefit: <%= @vitamin.benefits%></p>

<form method="post" action="/vitamins/<%=@vitamin.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Vitamin">
</form>

<a href="/vitamins/<%=@vitamin.id%>/edit">Edit Vitamin </a>
