<p>Welcome, <%=current_user.username%></p>
<h2>All Packs:</h2>

<% @packs.each do |pack| %>
  <div>
    Name: <%= pack.name %><br />
    Reference ID: <%= pack.id %><br />
    <% pack.vitamins.each do |vitamin| %>
    Vitamins:<br />
    <li><%= vitamin.name %></li><br />
    <%end%>
    <br />
  </div>
<% end %>
