<p><%= @pack.name %>

<form method="post" action="/packs/<%=@pack.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Pack">
</form>

<a href="/packs/<%=@pack.id%>/edit">Edit Pack </a>
